
<!doctype html>
<html>
  <head>
    <!-- this is a comment -->
    <meta charset="utf-8">
    <title>Dogs!! </title>
  </head>
  <body>
    <header>All about Dogs</header>
    <nav>
      <a href="/">Home Page</a>
      <a href="/dogs"> Dog Page </a>
      <a href="/cats"> Cats Page </a>
      <a href="/ninjas"> Ninjas Page </a>
      <a href="/pirates"> pirates Page </a>

    </nav>
    <h1>Dogs are cool :)</h1>
    <img src="http://www.cesarsway.com/sites/default/files/cesarsway-images/features/2012/sept/Dyeing-Your-Dogs-Hair-Is-a-Bad-Idea.jpg">
    <img src="http://thenypost.files.wordpress.com/2013/08/17-1n002-dogs_-c-300x300.jpg">
    <img src="http://animals.sandiegozoo.org/sites/default/files/styles/feeds_animal_thumbnail/public/prairie_dog_thumb.jpg?itok=cPj_zxu4">
    <article></article>
      <small>(c)2014 <strong>NSS <emCohort</em> 6</strong> </small>
  </body>
</html>

