<!doctype html>
<html>
  <head>
    <!-- this is a comment -->
    <meta charset="utf-8">
    <title>HTML/CSS Introduction</title>
  </head>
  <body>
    <header>My header</header>
    <nav>
      <a href="/">Home Page</a>
      <a href="/dogs">Dogs Page</a>
      <a href="/cats"> Cats Page </a>
      <a href="/ninjas"> Ninjas Page </a>
      <a href="/pirates"> pirates Page </a>

    </nav>
    <h1>My header</h1>
      <h2>Article header</h2>
      <p> this is my paragraph</p>
    <article></article>
     <h2>Toy Story</h2>
     <p> Toy Story is a really funny movie!</p>
     <a href="http://toystory.disney.com/">Click here to go to Toy Story site</a>
     <img src="http://puzzles-games.eu/data/media/3/Toy-Story-3-Bonnie-Anderson-Wallpaper.jpg" >
    <footer>
      <iframe width="560" height="315" src="//www.youtube.com/embed/c3986gGp3Qs" frameborder="0" allowfullscreen></iframe>
      <small>(c)2014 <strong>NSS <emCohort</em> 6</strong> </small>
  </body>
</html>

