
<!doctype html>
<html>
  <head>
    <!-- this is a comment -->
    <meta charset="utf-8">
    <title>Ninjas!! </title>
  </head>
  <body>
    <header>All about Ninjas</header>
    <nav>
      <a href="/">Home Page</a>
      <a href="/dogs"> Dogs Page </a>
      <a href="/cats"> Cats Page </a>
      <a href="/ninjas"> Ninjas Page </a>
      <a href="/pirates"> pirates Page </a>
    </nav>
    <h1>Ninjas are hot :)</h1>
    <img src="/images/ninja-kitten.jpg">
    <img src="/images/finalis_ninja.png">
    <img src="/images/ninja.jpg">
    <article></article>
    <small>(c)2014 <strong>NSS <em>Cohort</em> 6</strong> </small>
  </body>
</html>

