
<!doctype html>
<html>
  <head>
    <!-- this is a comment -->
    <meta charset="utf-8">
    <title>Pirates!! </title>
    <link rel = "stylesheet" href="/css/style.css">
  </head>
  <body>
    <header>All about Pirates</header>
    <nav>
      <a href="/">Home Page</a>
      <a href="/dogs"> Dog Page </a>
      <a href="/cats"> Cats Page </a>
      <a href="/ninjas"> Ninjas Page </a>
      <a href="/pirates"> Pirates Page </a>
    </nav>
    <h1>pirates are rad </h1>

    <div class="super">1</div>
    <div class="super">2</div>
    <div class="super">3</div>
    <div id="awesome">4</div>
  </body>
</html>

